body {
    background-color: lightblue;
}

.ui.menu {
    margin-top: 0;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.controllers {
    text-align: left;
}

.item-header, .item-footer {
    background-color: #282c34;
    color: white;

}

.item-header label, .item-footer label {
    margin: auto;
}

.centering-element {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-end;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/************************
* Members List
*************************/
.members-list {
    margin: auto;
    text-align: initial;
}
.members-list .members-list-scrollbar div:nth-child(3){
    width: 3px !important;
    margin: 0 6px;
}
.members-list ul {
    list-style: none;
    padding: 0;
    margin: 0 68px 0 0;
}

.members-list ul li .avatar-icon, .members-list ul li label, .members-list ul li .action-box {
    display: inline-block;
}

.members-list ul li .name-container {
    margin: 0 12px;
    width: 100%;
}

